* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1440px;
    height: 7324px;
    top: 195px;
    left: 582px;
    background: #FFFFFF;
}

header {
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
    display: flex;
    width: 1440px;
    height: 645px;
    background-image: url(710522c37840cfe272437ad775fa7572.png);
}

.frame1 {
    width: 1440px;
    height: 84px;

}

.frame11 {
    width: 197px;
    height: 29px;
    top: 28px;
}

.frame111 {
    position: absolute;
    width: 155px;
    height: 18px;
    top: 34px;
    left: 114px;
}

.frame112 {
    position: absolute;
    width: 34px;
    height: 29px;
    top: 28px;
    left: 72px;
}

.frame1111 {

    width: 155px;
    height: 18px;
    top: 34px;
    left: 114px;
    background-image: url(d1f9ac67-8aab-40b8-a4fb-d6ab632f8dcc.png);
}

.frame1121 {
    width: 34px;
    height: 29px;
    top: 28px;
    left: 72px;
    background-image: url(54ffdb7a-6aab-40b2-b2b1-1d60d95a1078.png);
}

.frame12 {
    position: absolute;
    width: 38px;
    height: 18px;
    top: 21px;
    left: 1117px;
    padding: 11px 20px 11px 20px;
    border-radius: 50px;
    gap: 10px;
    border: 1.5px solid #E5E5E5;



}

.frame121 {
    position: absolute;
    width: 38px;
    height: 20px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.frame13 {
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    width: 125px;
    height: 20px;
    top: 21px;
    left: 1203px;
    padding: 11px 4px 11px 20px;
    border-radius: 50px;
    gap: 10px;
    background: #27563A;
}

.frame131 {
    position: absolute;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.frame14 {
    width: 452px;
    height: 20px;
    top: 32px;
    left: 494px;
}

.frame141 {
    position: absolute;
    width: Hug (85px);
    height: Hug (20px);
    top: 32px;
    left: 567px;
    gap: 4px;
}

.frame1411 {
    width: 67px;
    height: 20px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.frame142 {
    position: absolute;
    width: 32px;
height: 20px;
top: 32px;
left: 806px;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

.frame143 {
    position: absolute;
    width: 76px;
height: 20px;
top: 32px;
left: 870px;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

.frame144 {
    position: absolute;
    width: 90px;
height: 20px;
top: 32px;
left: 684px;
gap: 4px;
}
.frame1441{
    
    width: 72px;
height: 20px;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

.frame145 {
    position: absolute;
    width: 41px;
    height: 20px;
    top: 32px;
    left: 494px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.frame21{
    position: absolute;
    width: 875px;
height: 81px;
top: 210px;
left: 283px;
font-family: Plus Jakarta Sans;
font-size: 64px;
font-weight: 700;
line-height: 81px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.frame22{
    position: absolute;
    width: 590px;
height: 20px;
top: 315px;
left: 425px;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}
.frame4{
    position: absolute;
    width: 875px;
height: 62px;
top: 399px;
left: 282px;
border-radius: 50px;

}
#search {
    display: flex;
    align-items: center;
    width: 875px;
    height: 62px;
    padding-left: 20px;
    border: none;
}

input[type=submit] {
    background-color: #27563A;
    background-image: url(/css/img/btn-search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px 50px 50px 0px;
    width: 72px;
    height: 62px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    filter: brightness(1.5);
    transition: filter 0.5s ease-out, width 1s ease-in-out;
}
select {
    color: #000;
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 22px;
    padding: 20px 27px;
    border: none;

    background: rgba(229, 229, 229, 1);
    border-radius: 50px 0 0 50px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1em;
}
form {
    display: flex;
    flex-direction: row;
    margin-top: 64px;

}