* {
    margin: 0;
    padding: 0;
}

body {
    width: 1512px;
    height: 2680px;
    margin: auto;
}

/* Шапка */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

/* Навигацеонное меню сверху */
.navtop {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 274px;
    align-self: stretch;
}

/* Логотип */
.logo {
    display: flex;
    width: 421.9px;
    height: 44px;
    background-image: url(Frame\ 245233512.png);
}

/* Навигационное меню слева */
.navleft {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.lef1 {
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #A4A4A4;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.lef2 {
    display: flex;
    width: 74px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.lef3 {
    display: flex;
    width: 71px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #A4A4A4;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* Навигационное меню справа */
.navright {
    display: flex;
    width: 305.5px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.rig1 {
    width: 24px;
    height: 24px;
    background-image: url(Frame\ 33924.png);
}

.rig2 {
    width: 24px;
    height: 24px;
    background-image: url(Frame\ 33918.png);
}

.rig3 {
    margin-left: -20px;
    width: 39px;
    height: 24px;
    background-image: url(Frame\ 33883.png);
}

.rig4 {
    width: 24px;
    height: 24px;
    background-image: url(Frame\ 33919.png);
}

.rig5 {
    width: 24px;
    height: 24px;
    background-image: url(Frame\ 33920.png);
}

/* Навигационное меню снизу */
.navbot {
    display: flex;
    width: 1512px;
    height: 42px;
    padding: 0px 40px;
    gap: 68.4px;
    align-items: center;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background: #FFF;
}

.bot1 {
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.bot2 {
    color: #FF1F00;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* Основная часть */
.maitop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.maileft {
    display: flex;
    width: 1512px;
    padding: 24px 40px;
    align-items: center;
    gap: 8px;
}

.maileft1 {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #A4A4A4;
    text-decoration: none;
}

.maicente {
    display: flex;
    width: 1512px;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.maicente1 {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.frame {
    display: flex;
    width: 1512px;
    padding: 16px 40px;
    justify-content: space-between;
    align-items: flex-start;
}

.frameleft {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.frameleft1 {
    display: flex;
    padding: 16px 8px 16px 0px;
    align-items: center;
    gap: 8px;
    color: #000000;
    text-decoration: none;
}

.frameright {
    display: flex;
    padding: 16px 73px;
    align-items: center;
    gap: 8px;
}

.frameright1 {
    color: #000;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

/* Оформление карточек */
.maiblo {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: #FFF;
    width: 1512px;
    height: 1713px;
    padding: 0px 40px 0px 40px;


}

.maiosnov {
    display: flex;
    padding: 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
    background: #EBEBEB;
    width: 1435px;
    height: 1640px;
    padding: 1px;
}

.maicard {
    display: flex;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
    width: 1435px;
    height: 546px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #FFF;
    width: 358px;
    height: 546px;
}

.cardtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brand {
    display: flex;
    width: 358px;
    padding: 16px 0px 8px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cardname {
    display: flex;
    padding: 8px 0px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.nam {
    width: 358px;
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.86px;
    letter-spacing: 0.16px;
}

.maifoo {
    display: flex;
    padding: 24px 661px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #FFF;
}

.ten {
    display: flex;
    left: 20.5px;
    top: 24px;
    color: rgba(0, 0, 0, 0.40);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.noten {
    display: flex;
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Подвал */

footer {
    background: #F0F0F0;
    display: flex;
    width: 1512px;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
}

.footmen {
    width: 1512px;
    height: 583px;
    flex-shrink: 0;
}

.footskid {
    display: flex;
    width: 716px;
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.48px;
    padding-left: 40px;
}

.rss {
    display: inline-flex;
    align-items: flex-start;
    padding: 20px 40px
}

.footemai {
    display: flex;
    padding: 18px 200px 14.4px 8px;
    align-items: center;
    border-bottom: 1px solid #CDCDCD;

}

a.button28 {
    display: flex;
    width: 83px;
    height: 34px;
    font-weight: 700;
    justify-content: center;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow:
        0 1px rgba(255, 255, 255, .2) inset,
        0 3px 5px rgba(0, 1, 6, .5),
        0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
}

a.button28:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

a.button28:active {
    top: 1px;
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
    box-shadow:
        0 0 1px rgba(0, 0, 0, .5) inset,
        0 2px 3px rgba(0, 0, 0, .5) inset,
        0 1px 1px rgba(255, 255, 255, .1);
}

.footMav {
    display: flex;
    width: 1512px;
    height: 278px;
    padding: 0px 40px;
    align-items: flex-start;
    flex-shrink: 0;
}

.footItem {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex: 1 0 0;
    align-self: stretch;
}