body {
    position: absolute;
    width: 1920px;
    height: 5155px;
    background-color: #162831;
}

header {
    width: 1298px;
    height: 60px;
    top: 30px;
    left: 312px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.menu {
    width: 60px;
    height: 60px;
    top: 30px;
    left: 312px;
}

#logov {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 312px;
}

#logow {
    position: absolute;
    width: 32px;
    height: 22px;
    top: 43.5078125px;
    left: 326px;
}

.nav {
    position: absolute;
    display: flex;
    width: 655px;
    height: 19px;
    top: 51px;
    left: 586px;
    gap: 50px;

}

#navo {
    width: 56px;
    height: 19px;
}

.batt {

    position: absolute;
    width: 155px;
    height: 36px;
    top: 43px;
    left: 1455px;
    border-radius: 3px;
}

header button {
    position: absolute;
    width: 155px;
    height: 36px;
    border-radius: 3px;
    padding: 9px, 15px, 9px, 15px;
    gap: 10px;
    background-color: #018ABE;

}

.head_logo {
    display: flex;
    left: 312px;
    width: 1296px;
    height: 600px;
    margin: 30px auto 0 auto;
    background-image: url(unsplash_S-llxYh3GzI.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.head_text {
    color: white;
    font-size: 24px;
    text-align: center;
}

.text {
    font-size: 64px;
}

.maps {
    height: 600px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.services {
    display: flex;
    height: 699px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#servicestext {
    position: absolute;
    color: white;
    font-size: 42px;
    text-align: center;
    width: 336px;
    height: 59px;
    top: 890px;
    left: 792px;
}

.servicesone {
    position: absolute;
    margin: 30px auto 0 auto;
    background-image: url(unsplash_TnOyyEtrKd0.png);
    background-repeat: no-repeat;
    width: 416px;
    height: 540px;
    top: 1049px;
    left: 312px;
    border-radius: 0px 0px 10px 10px;
}

.servicestwo {
    position: absolute;
    margin: 30px auto 0 auto;
    background-image: url(unsplash.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 258px;
    top: 1331px;
    left: 752px;
    border-radius: 10px;
}

.servicesthree {
    position: absolute;
    margin: 30px auto 0 auto;
    background-image: url(unsp.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 258px;
    top: 1331px;
    left: 1192px;
    border-radius: 10px;
}

.servicesfour {
    position: absolute;
    margin: 30px auto 0 auto;
    background-image: url(unspla.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 258px;
    top: 1049px;
    left: 752px;
    border-radius: 10px;
}

.servicesfive {
    position: absolute;
    margin: 30px auto 0 auto;
    background-image: url(uns.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 258px;
    top: 1049px;
    left: 1192px;
    border-radius: 10px;
}

.textone {
    color: white;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 456px;
}

.texttwo {
    color: white;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 194px;
}

.textthree {
    color: white;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 160px;
}

.textfour {
    color: white;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 194px;
}

.textfive {
    color: white;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 160px;
}

#heading {
    position: absolute;
    color: white;
    font-size: 42px;
    text-align: center;
    width: 154px;
    height: 59px;
    top: 1739px;
    left: 883px;
}

.review {
    position: absolute;
    width: 636px;
    height: 350px;
    top: 1898px;
    left: 642px;
    border-radius: 10px;
    background: #018ABE;
}

.revie {
    margin-top: 50px;
    margin-left: 60px;
    width: 516px;
    height: 28px;
    top: 1948px;
    left: 702px;
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.revi {
    margin-top: 48px;
    margin-left: 60px;
    width: 516px;
    height: 196px;
    top: 1996px;
    left: 702px;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.reviewtwo {
    position: absolute;
    background: #018ABE;
    width: 500px;
    height: 276px;
    top: 1935px;
    left: 92px;
    border-radius: 10px;
    opacity: 40%;
}

.revietwo {
    margin-top: 40px;
    margin-left: 45px;
    width: 410px;
    height: 22px;
    top: 1975px;
    left: 137px;
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;


}

.revitwo {
    margin-top: 37px;
    margin-left: 45px;
    width: 410px;
    height: 128px;
    top: 2012px;
    left: 137px;
    font-family: Proxima Nova;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.reviewthree {
    position: absolute;
    background: #018ABE;
    width: 500px;
    height: 276px;
    top: 1935px;
    left: 1328px;
    border-radius: 10px;
    opacity: 40%;
}

.reviethree {
    margin-top: 40px;
    margin-left: 45px;
    width: 410px;
    height: 22px;
    top: 1975px;
    left: 1373px;
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.revithree {
    margin-top: 37px;
    margin-left: 45px;
    width: 410px;
    height: 142px;
    top: 2012px;
    left: 1373px;
    font-family: Proxima Nova;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}