* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 1920px;
    height: 5155px;
    background-color: #162831;
}

header {
    width: 1298px;
    height: 60px;
    top: 30px;
    left: 312px;
    border-radius: 3px;
}

.menu {
    width: 60px;
    height: 60px;
    top: 30px;
    left: 312px;
}

#logov {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 312px;
}

#logow {
    position: absolute;
    width: 32px;
    height: 22px;
    top: 43.5078125px;
    left: 326px;
}

.nav {
    position: absolute;
    display: flex;
    width: 655px;
    height: 19px;
    top: 51px;
    left: 586px;
    gap: 50px;
}

#navo {
    width: 56px;
    height: 19px;
}

.batt {
    display: flex;
    position: absolute;
    width: 155px;
    height: 36px;
    top: 43px;
    left: 1455px;
    padding: 9px 15px 9px 15px;
    border-radius: 3px;
    gap: 10px;
}

header button {
    position: absolute;
    width: 155px;
    height: 36px;
    border-radius: 3px;
    padding: 9px, 15px, 9px, 15px;
    gap: 10px;
    background-color: #018ABE;

}






/* menu ul {
    margin-left: 274px;
    display: flex;
    list-style: none;
}

li {
    float: left;

}

li a {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-size: 14px;
} */

.head_logo {
    display: flex;
    width: 1296;
    height: 600;
    margin: 30px auto 0 auto;
    background-image: url(unsplash_S-llxYh3GzI.png);
    text-align: center;
    padding-top: 200px;
    background-repeat: no-repeat;
    left: 312px;
    top: 140px;
    border-radius: 10px;

}

.maps {
    width: ;
    margin-left: ;
    height: 600;
    border: ;
    border-radius: ;
    padding: ;
}