*{
    margin: 0;
    padding: 0;
}

body{
    width: 1920px;
    height: 5155px;
    background-color: #162831;
    color: white;
}

header {
    width: 1298px;
    height: 60px;
    display: flex;
    top: 30px;
    left: 312px;
    border-radius: 3px;
}
header img{
    justify-content: flex-start;
}
nav{
    margin: 30px auto 0 auto;
}
nav a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}
header button{
    justify-content: flex-end;
    padding: 9px 15px 9px 15px;
    color: white;
    background-color: #018ABE;
    border-radius: 10px;
}
.heads_logo{
    width: 1296px;
    height: 600px;
    background-image: url(unsplash_S-llxYh3GzI.png);
    background-repeat: no-repeat;
    margin: 140px auto 0 auto;
    
}
.heads_logo h3{
    text-align: center;
}
.heads_logo_cont{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 276px auto 0 auto;
    text-align: center;
    padding-top: 276;
}
.heads_logo h1{
    margin-top: 20px;
}
#logow{
    position: absolute;
    width: 32px;
    height: 22px;
    left: 30px;
    top: 41.51px;
}
#logo{
    left: 300px;
}

.my-element:active {
    background-color: blue;
    width: 200px;
    transition: backgraund-color 0.5s ease-out, width is ease-in-out;
}