body {
    text-align:center;
    background-image: url(ocean.png);
    width:176px;
    height: 180px;
}
#grabBtn{
    width:40%;
    color:white;
    background:linear-gradient(#296d43, #389130);
    border-radius:10px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
    margin-top: 60px;
}
#stopBtn{
    width:40%;
    color:#296d43;
    background:linear-gradient(white, white);
    border-radius:10px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
    margin-top: 60px;
}

body h1 {
    color:rgb(52, 255, 113);
}
header{
    margin-left: 10px;
    width: 150px;
    height: 200px;
    background-image: url(map_landing.e2c0d82e.gif);
    background-repeat: no-repeat;
}
header img{
    margin-left: -20px;
    margin-top: 30px;
}
